@model IEnumerable<Movie>
@*@model NapredneBP_Project.Models.Movie*@

@{ ViewData["Title"] = "All Movies";
}
<h1>All Movies</h1>

@*<div class="text-center">
            <input type="text" id="movieName" placeholder="Search" />
            <h3>@Html.ActionLink("Search movie by title", "GetMovieByTitle", "Movie", new { title = "Seven" })</h3>
</div>*@

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Publishing date</th>
            <th>Description</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
        <tr>
            <td width="30%">@obj.Title</td>
            <td width="30%">@obj.PublishingDate</td>
            <td width="100%">@obj.Description</td>
            <td width="100%">@obj.Rate</td>
            <td width="100%">
                <div class="rate">
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 star</label>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>
