@model NapredneBP_Project.Models.MovieDTO
@{
    using (Html.BeginForm("CreateMovie", "Movie"))
    {
        <div class="form-group">
            <label>Title:</label>
            <input asp-for="@Model.Title" />
            <span asp-validation-for="@Model.Title"></span>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <input asp-for="@Model.Description" />
            <span asp-validation-for="@Model.Description"></span>
        </div>
        <div class="form-group">
            <label>Image Uri:</label>
            <input asp-for="@Model.ImageUri" />
            <span asp-validation-for="@Model.ImageUri"></span>
        </div>
        <div class="form-group">
            <label>Publishing date:</label>
            <input asp-for="@Model.PublishingDate" />
            <span asp-validation-for="@Model.PublishingDate"></span>
        </div>
        <div class="form-group">
            <label>Genre:</label>
            <input asp-for="@Model.Labels" />
            <span asp-validation-for="@Model.Labels"></span>
        </div>

        @Html.AntiForgeryToken();
        <button class="btn btn-primary" type="submit">Add movie</button>
    }

}
