@model Movie
@{

}
<h1>@Model.Title</h1>
<br />
<div>
    <div style="display:flex">
        <div>
            <div>
                <img src="@Model.ImageUri" alt="@Model.Title" width="200" height="300" />
            </div>
            <br />
            <form method="get" asp-action="AddMovieRate" asp-controller="Movie" asp-route-id="@Model.Id">
                <div>
                    <div>
                        <h3>Rate: @Model.Rate</h3>
                    </div>
                    <div class="rate">
                        <input type="radio" id="star5" asp-for="Rate" name="rate" value="5.0" />
                        <label for="star5" title="text">5 stars</label>
                        <input type="radio" id="star4" asp-for="Rate" name="rate" value="4.0" />
                        <label for="star4" title="text">4 stars</label>
                        <input type="radio" id="star3" asp-for="Rate" name="rate" value="3.0" />
                        <label for="star3" title="text">3 stars</label>
                        <input type="radio" id="star2" asp-for="Rate" name="rate" value="2.0" />
                        <label for="star2" title="text">2 stars</label>
                        <input type="radio" id="star1" asp-for="Rate" name="rate" value="1.0" />
                        <label for="star1" title="text">1 star</label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" style="width:150px">Rate</button>
                    </div>
                </div>
            </form>
        </div>

        <div style="margin-left: 50px; position:relative;">
            <div>
                <h3>Description</h3>
                <p style="text-align:left">@Model.Description</p>
            </div>
            <br />
            <div>
                <h3>Actors</h3>
                <br />
                <ul>
                    <li>Bice Dodati Glumci</li>
                    <li>Bice Dodati Glumci</li>
                    <li>Bice Dodati Glumci</li>
                    <li>Bice Dodati Glumci</li>
                </ul>
            </div>
            <br />

        </div>
</div>
</div>